.menu {
    width: 100%;
    height: 60px;
    border: 1px solid black;
    display: flex;
    background-color: hsla(0, 0%, 0%, 0.95);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1em;
    box-shadow: 0 1px 20px rgba(0,0,0,0.8);
    position: relative;
}

a{
    text-decoration: none;
}

.menu_item a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    cursor: pointer;
    margin-left: 40px;
}
.menu_item a::after {
    position: absolute;
    content: '';
    display: block;
    border-top: 2px solid white;
    bottom: 15px;
    left: 50%;
    width: 0;
    transition-duration: 0.5s;
    transition-property: width,left;
}
.menu_item a:hover::after {
    width: 100%;
    left: 0;
}

.searchIcon {
    position: absolute;
    right: 40px;
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}